#post-list-header{
    background-image: url(../../assets/img/flower-header.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#post-title{
    /* From https://css.glass */
background: rgba(243, 243, 243, 0.644);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(5px);
-webkit-backdrop-filter: blur(5px);
border: 1px solid rgba(255, 249, 20, 0.3);
}