
#blog-header{
  background-image: url("../assets/img/blog-header.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  
}

#blog-text{
  background: rgba(243, 243, 243, 0.573);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(5px);
-webkit-backdrop-filter: blur(5px);
border: 1px solid rgba(255, 247, 20, 0.495);
}

#blog-feed-bg{
  background-image: url("../assets/img/flower-header.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
