nav {
    background-image: url("../../assets/img/honeycomb1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
  }
  

  
  #logo-img {
    height: 70px;
    border-radius: 50px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Add a black shadow */
  }
  
  /* .logo-flip {
    animation: flip 5s infinite;
    transform-style: preserve-3d;
  } */
/*   
  @keyframes flip {
    0% {
      transform: perspective(800px) rotateY(0deg);
    }
    50% {
      transform: perspective(800px) rotateY(180deg);
    }
    100% {
      transform: perspective(800px) rotateY(360deg);
    }
  } */

  .navbar-dropdown {
    padding: 4px;
}